<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{_sections.title}}{{title}}</title>
    <link rel="icon" type="image/png" href="assets/icons/vanillajs.png">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/vanilla.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" type="text/css">
    <script defer src="js/vanilla.js"></script>
  </head>
  <body class="{{_sections.class}}{{class}}">
    {{> header}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
