<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{_sections.title}}{{title}}</title>
    <link rel="icon" href="assets/icons/vanillajs.png" type="image/png">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/vanilla.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" type="text/css">
    <script defer src="js/vanilla.js" type="module"></script>
    <script defer src="js/main.js" type="module"></script>
  </head>
  <body class="{{_sections.class}}{{class}}">
    {{> header}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
